img.logo{ width: 330px;
          height: 60px;
}

header{   
        width: 100%;
        height: 50px;
        background-color: black;
}

header ul{ line-height: 50px;
}

header ul li{ float: left;
              list-style: none;
              padding-right: 150px;
              background-color: black;
              color: white;
              font-size: 15px;
}

main{ clear: both;
}

.main-container{ width: 100%;
                 margin: 0 auto;
                 margin-top: 0px;
}

.left{ float: left;
       display: inline-block;
       width: 63%;
       margin-bottom: 40px;
}

h1{ border-left: 5px solid black;
    border-bottom: 3px solid black;
    font-size: 35px;
}

h2{
    margin-left: 4px red solid;
    padding-left: 15px;
    font-size: 20px;
}

form{ background-color: #fbfbfb;
      border: 3px #ebebeb solid;
      width: 500px;
}

form div{ padding: 15px;
}

.text,textarea,dropdown{ border: 1px solid #dfdfdf;
                         padding: 5px;
                         color: #999;
                         background: #fff;
}

.submit{ border: 1px solid lightgray;
         padding: 4px 10px;
         color: white;
         background-color: #bfbfbf;
         border-bottom: 2px solid gray;
}

.kiji{ background-color: #fbfbfb;
      border: 3px #ebebeb solid;
      width: 500px;
}

.right{ display: inline-block;
        width: 25%;
        margin-left: 100px;
        margin-bottom: 40px;
}

.side h3{ border-left: 0px solid black;
          border-bottom: 2px dotted black;
          font-size: 25px;
}

.side li{ list-style: none;
          line-height: 30px;
          font-size: 15px;
}

footer{ clear: left;
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        text-align: center;
        line-height: 60px;
        font-size: 15px;
}